.contacts {
  background: var(--glass-tint);
  border-radius: var(--radius);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: var(--border-glass);
  margin: 0 var(--space-xxl) var(--space-sm);
}

.contacts-container {
  display: flex;
  flex-direction: row;
}

.row-of-columns {
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.column {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

input {
  height: 2rem;
  border-radius: 8px;
  padding: 0 var(--space-xs);

  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  font-family: Work Sans;
  transition: border-color 0.25s;
  
  background: var(--glass-tint);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
  cursor: pointer;
}

.st {
  font-family: 'Work Sans';
  font-weight: 400;
}

.contacts button {
  --tilt-transform: perspective(800px) rotateX(0deg) rotateY(0deg) scale(1);
  --scroll-scale: scale(1);
  --scroll-drop-blur: blur(1px);
  backdrop-filter: var(--scroll-drop-blur);
  -webkit-backdrop-filter: var(--scroll-drop-blur);

  height: var(--space-lg);

  transform: var(--tilt-transform) var(--scroll-scale);
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}