.footer {
  background: var(--glass-tint);
  border-radius: var(--radius);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: var(--border-glass);
  margin: 0 var(--space-xll) var(--space-sm);
}

.ringer-container {
  display: flex;
  
  width: var(--space-xl);
  height: var(--space-xl);
  margin: auto;
}