.footer {
  overflow: visible;

  background: var(--glass-tint);
  border-radius: var(--radius);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: var(--border-glass);
  margin: 0 var(--space-xxl) var(--space-sm);

  height: var(--space-xxxl);
}

.ringer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

#heart {
  --dim-or-not: 0.1;
  opacity: var(--dim-or-not);
  background: transparent;
  width: var(--space-lg);
  height: 2.7rem;
  filter: drop-shadow(0 0 2rem #ffffff);
  transition: opacity 0.1s ease;
}