.wall-body {
  margin: 0 var(--space-xll) var(--space-sm);
  border: var(--border-glass);
  border-radius:var(--radius);

  background: var(--glass-tint);
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  user-select: text;
}

@media (min-width: 500px) {
  .wall-body {
    margin: 0 0px var(--space-sm);
  }
}

.wall-body :is(h1, h2, h3, p) {
  padding-inline: var(--space-md);
  padding-bottom: var(--space-md);
}

.wall-body h1 {
  padding-top: var(--space-md);
  padding-bottom: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: var(--space-lg);
}

.wall-body :is(h3, p, li) {
  font-family: Philosopher;
  font-size: var(--space-sm);
  padding-bottom: var(--space-md);
  line-height: 1.5;
}

.wall-body h3 {
  font-size: var(--space-a-sm);

}

.wall-body ul {
  padding: 0 var(--space-md) 0 var(--space-lg);
}

@media (min-width: 500px) {
}